:root{
    background: #000;
    font-size: 2rem;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: beige;
}

.booktable{
    border: solid white 2px;
}

.btn{
    padding: 16px;
    margin: 4px;
    margin-bottom: 16px;
    font-size: 4 em;
}

.booktable{
    padding: 16px; 
    width: 80%;

}

th{
    background: lightgray;
    color: #000;
}

tr {
    padding: 24px;
    margin: 8px;
}

button{
    
}

.actioncolumn{
    justify-content: center;
}